/* ---ANIMATIONS---- */
@keyframes drop-downText {
    0%{
        top:-150px;
    }
    100%{
        top:calc(50% - 25px);
    }
}

@keyframes welcome {
    0%{
        width: 80%;
        height: 90px;
    }
    100%{
        width: 240px;
        height: 100%;
    }
}

@keyframes welcomeletter {
    0%{
        background-color: red;
        color: red;
    }
    100%{
        background-color: white;
        color: black;
    }
}

@keyframes perc30 {
    from{
        background-color: red;
        width: 0%;
    }
    to{
        background-color: red;
        width: 30%;
    }
}

@keyframes perc60 {
    from{
        background-color: orangered;
        width: 0%;
    }
    to{
        background-color: orangered;
        width: 60%;
    }
}


@keyframes perc75 {
    from{
        background-color: yellow;
        width: 0%;
    }
    to{
        background-color: yellow;
        width: 75%;
    }
}

@keyframes perc100 {
    from{
        background-color: green;
        width: 0%;
    }
    to{
        background-color: green;
        width: 100%;
    }
}

@keyframes liquid {
    0% {
      height: 0px;  
      opacity: 1;
    }
    5% {
      height: 0px;  
      opacity: 1;
    }
    20% {
      height: 62px;  
      opacity: 1;
    }
    95% {
      height: 62px;
      opacity: 1;
    }
    100% {
      height: 62px;
      opacity: 0;
    }
}

@keyframes smokeOne {
    0% {
      bottom: 20px;
      opacity: 0;
    }
    40% {
      bottom: 50px;
      opacity: .5;
    }
    80% {
      bottom: 80px;
      opacity: .3;
    }
    100% {
      bottom: 80px;
      opacity: 0;
    }
}
@keyframes smokeTwo {
    0% {
        bottom: 40px;
        opacity: 0;
    }
    40% {
        bottom: 70px;
        opacity: .5;
    }
    80% {
        bottom: 80px;
        opacity: .3;
    }
    100% {
        bottom: 80px;
        opacity: 0;
    }
}

@keyframes typing {
   from {
      width: 0
    }
}
@keyframes blink {
    50% {
      border-color: transparent
    }
}
/* ----------------------------------------- */
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

h1, p{
    margin-left: 50px;
}

a.btn-restart:link, a.btn-restart:visited{
    text-decoration: none;
    position:absolute;
    bottom:0;
    right: 0;
    padding:20px;
    background-color: skyblue;
    border-radius:20px 0 0 0;
    color: wheat;
    font-weight: bold;
    text-shadow: #000 1px 0 10px;}

a.btn-restart:hover{
    background-color: steelblue;
    color: white;
}

.box-container{
    margin: 50px;
    background-color: antiquewhite;
    width: calc(100% - 100px);
    height: 500px;
    border: 2px solid black;
    position: relative;
}

.box-text{
    margin: 0 auto;
    color: red;
    width: 100%;
    height: 50px;
    font-size: 50px;
    line-height: 50px;
    position: absolute;
    text-align: center;
    top:-150px;
    left:0;
    animation: drop-downText 5s linear .5s 1 normal forwards;
}

.box-container-flex{
    margin: 0 auto;
    width: 80%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: welcome 5s linear .5s 1 normal forwards;
}

.box-letter{
    width: 90px;
    height: 90px;
    line-height: 90px;
    text-align: center;
    animation: welcomeletter 5s linear .5s 1 normal forwards;
    color: antiquewhite;
}

.box-letter.left{
    text-align: left;
}

.monitor{
    background-color: silver;
    position: absolute;
    width: 300px;
    height: 300px;
    margin:0 auto;
    top:calc(50% - 150px);
    left: calc(50% - 150px);
    border-radius: 25px;
}

.desktop{
    margin: 25px;
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    border-radius: 25px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:20px;
}

.power{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: red;
    position: absolute;
    top:calc(50% + 120px);
    left:calc(50% + 120px);
}

.bar{
    height: 30px;
}

.desktop:hover .bar-30{
    animation: perc30 2s linear .5s forwards;
}

.desktop:hover .bar-60{
    animation: perc60 2s linear .5s forwards;
}

.desktop:hover .bar-75{
    animation: perc75 2s linear .5s forwards;
}

.desktop:hover .bar-100{
    animation: perc100 2s linear .5s forwards;
}

.container {
    width: 300px;
    height: 280px;
    position: absolute;
    top: calc(50% - 140px);
    left: calc(50% - 150px);
}
.coffee-header {
    width: 100%;
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ddcfcc;
    border-radius: 10px;
}
.coffee-header__buttons {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 25px;
    background-color: #282323;
    border-radius: 50%;
}
.coffee-header__buttons::after {
    content: "";
    width: 8px;
    height: 8px;
    position: absolute;
    bottom: -8px;
    left: calc(50% - 4px);
    background-color: #615e5e;
}
.coffee-header__button-one {
    left: 15px;
}
.coffee-header__button-two {
    left: 50px;
}
.coffee-header__display {
    width: 50px;
    height: 50px;
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    border-radius: 50%;
    background-color: #9acfc5;
    border: 5px solid steelblue;
    box-sizing: border-box;
}
.coffee-header__details {
    width: 8px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #9b9091;
    box-shadow: -12px 0 0 #9b9091, -24px 0 0 #9b9091;
}
.coffee-medium {
    width: 90%;
    height: 160px;
    position: absolute;
    top: 80px;
    left: calc(50% - 45%);
    background-color: #bcb0af;
}
.coffee-medium:before {
    content: "";
    width: 90%;
    height: 100px;
    background-color: #776f6e;
    position: absolute;
    bottom: 0;
    left: calc(50% - 45%);
    border-radius: 20px 20px 0 0;
}
.coffe-medium__exit {
    width: 60px;
    height: 20px;
    position: absolute;
    top: 0;
    left: calc(50% - 30px);
    background-color: #231f20;
}
.coffe-medium__exit::before {
    content: "";
    width: 50px;
    height: 20px;
    border-radius: 0 0 50% 50%;
    position: absolute;
    bottom: -20px;
    left: calc(50% - 25px);
    background-color: #231f20;
}
.coffe-medium__exit::after {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    bottom: -30px;
    left: calc(50% - 5px);
    background-color: #231f20;
}
.coffee-medium__arm {
    width: 70px;
    height: 20px;
    position: absolute;
    top: 15px;
    right: 25px;
    background-color: #231f20;
}
.coffee-medium__arm::before {
    content: "";
    width: 15px;
    height: 5px;
    position: absolute;
    top: 7px;
    left: -15px;
    background-color: #9e9495;
}
.coffee-medium__cup {
    width: 80px;
    height: 47px;
    position: absolute;
    bottom: 0;
    left: calc(50% - 40px);
    background-color: #FFF;
    border-radius: 0 0 70px 70px / 0 0 110px 110px;
}
.coffee-medium__cup::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    top: 6px;
    right: -13px;
    border: 5px solid #FFF;
    border-radius: 50%;
}
.coffee-medium__liquid {
    width: 6px;
    height: 63px;
    opacity: 0;
    position: absolute;
    top: 50px;
    left: calc(50% - 3px);
    background-color: #74372b;
    animation: liquid 4s 4s linear infinite;
}
.coffee-medium__smoke {
    width: 8px;
    height: 20px;
    position: absolute;  
    border-radius: 5px;
    background-color: #b3aeae;
}
.coffee-medium__smoke-one {
    opacity: 0;
    bottom: 50px;
    left: 102px;
    animation: smokeOne 3s 4s linear infinite;
}
.coffee-medium__smoke-two {
    opacity: 0;
    bottom: 70px;
    left: 118px;
    animation: smokeTwo 3s 5s linear infinite;
}
.coffee-medium__smoke-three {
    opacity: 0;
    bottom: 65px;
    right: 118px;
    animation: smokeTwo 3s 6s linear infinite;
}
.coffee-medium__smoke-for {
    opacity: 0;
    bottom: 50px;
    right: 102px;
    animation: smokeOne 3s 5s linear infinite;
}
.coffee-footer {
    width: 95%;
    height: 15px;
    position: absolute;
    bottom: 25px;
    left: calc(50% - 47.5%);
    background-color: #41bdad;
    border-radius: 10px;
}
.coffee-footer::after {
    content: "";
    width: 106%;
    height: 26px;
    position: absolute;
    bottom: -25px;
    left: -8px;
    background-color: #000;
}

.flex{
    display:flex;
    justify-content: center;
    align-items: center;
}

.typing-text{
    width: 23ch;
    font-size: 50px;
    animation: typing 2s steps(23), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
}

.box-vertical{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box-horizontal{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.letter{
    width:50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-family: monospace;
    font-weight: 900;
    font-size: 50px;
}

.letter-box:not(.letter-box.letter){
    width: 0;
    height: 0;
    visibility: hidden;
    animation: showLetter 10s linear 2s 1 normal forwards;

}

@keyframes showLetter {
    from{
        width: 0;
        height: 0;
        visibility: visible;
        color: transparent;
    }
    to{
        width: 50px;
        height: 50px;
        visibility: visible;
        line-height: 50px;
        text-align: center;
        font-family: monospace;
        font-weight: 900;
        font-size: 50px;
        color: #000;
    }
    /* 100%{
        width: 0;
        height: 0;
        visibility: visible;
        color: transparent;
        flex-direction: column;
    } */
}
